{% extends 'portfolio/layout.html' %}

{% block main %}
    <div class="h1-div">
        <h1>BLOG</h1>
    </div>

    <br><br>
    <a href="{% url 'portfolio:novapublicacao' %}" class="nova-publicacao">ADICIONAR PUBLICAÇÃO</a>
    <br><br><br><br>

    <div class="blog-fundo">
        {% for publicacao in publicacoes %}
            <div class="cadeira-css">
                <h2>{{ publicacao.titulo_da_publicacao }}</h2>
                <p><b>{{ publicacao.autor_da_publicacao }}</b></p>
                <br>
                <p>{{ publicacao.descricao }}</p>
                <br>
                {% if publicacao.link_do_github %}
                    <br>
                    <a href="{{ publicacao.link_do_github }}" class="link">Link do GitHub</a>
                    <br><br><br>
                {% endif %}
                <div class="editar-publicacao">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'portfolio:editarpublicacao' publicacao.id %}" class="">EDITAR</a>
                    {% endif %}
                </div>
            </div>
            <br><br>
        {% endfor %}
    </div>
{% endblock %}