<!DOCTYPE html>
{% load static %}
<html lang = "pt">

<head>
    <meta charset="UTF-8">

    <title>Portfolio</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'portfolio/css/estilos.css' %}">

    <script src="{% static 'portfolio/javascript/relogio.js' %}" defer></script>

    {% block style %}

    {% endblock style %}
</head>

<body>
  <header>
    <a href="{% url 'portfolio:home' %}" class="nome">Gonçalo Antunes</a>

    <nav>
        <a href="{% url 'portfolio:apresentacao' %}">Sobre Mim</a>
        <a href="{% url 'portfolio:projetos' %}">Projetos</a>
        <a href="{% url 'portfolio:blog' %}">Blog</a>
        <a href="{% url 'portfolio:quiz' %}">Quiz</a>
        <a href="{% url 'portfolio:api' %}">API</a>
        <a href="{% url 'portfolio:site' %}">Web</a>
        {% if request.user.is_authenticated %}
            <a href="{% url 'portfolio:logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'portfolio:login' %}">Login</a>
        {% endif %}
    </nav>
  </header>

  <main>
      {% block main %}
      {% endblock main %}
  </main>

  <footer>
     <p>Gonçalo Antunes, ULHT, 2022</p>
      <div class="relogio">
        <span id="horas">00</span>
        <span>:</span>
        <span id="minutos">00</span>
        <span>:</span>
        <span id="segundos">00</span>
    </div>
  </footer>
</body>