{% extends 'portfolio/layout.html' %}

{% block main %}
    <div class="h1-div">
        <h1>NOVO PROJETO FINAL</h1>
    </div>
    <br><br><br><br><br><br>

    <div class="login-insert">
        <div class="nova-publicacao">
            <form method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <input type="submit" value="ENVIAR">
            </form>
        </div>
    </form>
    </div>

    <br>
    <div class="login-insert">
        <a href="{% url 'portfolio:tcf' %}" class="cancelar">CANCELAR</a>
    </div>
{% endblock %}