{% extends 'portfolio/layout.html' %}

{% block main %}
    <div class="h1-div">
        <h1>QUIZ</h1>
    </div>

    <br><br>

    <div class="cadeira-css">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend class="quizz-topico">QUIZ DE PROGRAMAÇÃO WEB</legend>

                <fieldset>
                    <legend>INFORMAÇÕES</legend>

                    <label for="nome">Nome</label>
                    <input type="text" id="nome" name="nome" autocomplete="on" autofocus required style="margin-bottom: 10px;"><br>

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required><br><br>
                </fieldset>

                <br>

                <fieldset>
                    <legend>PERGUNTAS</legend>


                    <p><b>1.</b>A que curso pertence a cadeira de Programação Web?</p>

                    <input type="radio" id="eletrotecnica" name="curso" value="Engenharia Eletrotécnica">
                    <label for="eletrotecnica">Engenharia Eletrotécnica</label><br>

                    <input type="radio" id="marketing" name="curso" value="Marketing e Publicidade">
                    <label for="marketing">Marketing e Publicidade</label><br>

                    <input type="radio" id="informatica" name="curso" value="Engenharia Informática">
                    <label for="informatica">Engenharia Informática</label><br>

                    <input type="radio" id="desporto" name="curso" value="Desporto">
                    <label for="desporto">Desporto</label><br><br><br>



                    <p><b>2.</b>Indique qual destas Linguagens de Programação que se aprende em Programação Web.</p>

                    <input type="radio" id="java" name="linguagens" value="Java">
                    <label for="java">Java</label><br>

                    <input type="radio" id="assembly" name="linguagens" value="Assembly">
                    <label for="assembly">Assembly</label><br>

                    <input type="radio" id="cplusplus" name="linguagens" value="C++">
                    <label for="cplusplus">C++</label><br>

                    <input type="radio" id="sql" name="linguagens" value="SQL">
                    <label for="sql">SQL</label><br>

                    <input type="radio" id="javascript" name="linguagens" value="Python">
                    <label for="javascript">Javascript</label><br>

                    <input type="radio" id="kotlin" name="linguagens" value="Kotlin">
                    <label for="kotlin">Kotlin</label><br><br>

                    {% load static %}
                    <input type="image" src="../../static/portfolio/images/file.png" alt="Submit" width="48" height="48" title="Submit"
                    style="margin-bottom: 10px; margin-left: 10px">
                </fieldset>
            </fieldset>
        </form>
    </div>
    <br><br><br>

    {% load static %}
    <img src="{% static 'portfolio/images/grafico.png' %}">
    <br><br><br><br>
{% endblock %}